extends backend_layout
block content
    script(src="/javascript/sweetalert.min.js")
    script(type='text/javascript').
        let length;
        let now;
        let page_max;
        let page_number;
        let pre_now;
        let page_avaliable;

        $(function () {
            length = $('#user_table tr').length - 1;
            now = 1;
            page_number = 5;
            pre_now = -1;
            page_max = Math.ceil(length / page_number);
            page_avaliable = 5;
            for (let i = 0; i < page_max; i++) {
                $('ul.pagination').append(`<li> <a href="javascript:gopage(${i + 1})">${i + 1}</a> </li>`);
            }
            $('ul.pagination').append(`<li id="nexta"><a href="javascript:nextpage()">»</a></li>`);
            showpage(now);
            showpageindex();
            checkpage();
            changeActive();
        });

        function gopage(i) {
            pre_now = now;
            now = i;
            showpage(now);
            showpageindex();
            checkpage();
            changeActive();
        }

        function changeActive() {
            $('ul.pagination li').eq(pre_now).removeClass('active');
            $('ul.pagination li').eq(now).addClass('active');
        }

        function showpage(page) {
            $('#user_table tr').each(function (value) {
                if (value === 0 || (value > ((page - 1) * page_number) && value <= page * page_number)) {
                    $('#user_table tr').eq(value).show();
                } else {
                    $('#user_table tr').eq(value).hide();
                }
            });
        }

        function showpageindex() {
            let start;
            if (page_max > page_avaliable) {
                start = now - parseInt(page_avaliable / 2) > 0 ? now - parseInt(page_avaliable / 2) : 1;
                if (start + page_avaliable > page_max) {
                    start = page_max + 1 - page_avaliable;
                }
            } else {
                start = 1;
            }
            $('ul.pagination li').each(function (value) {
                if (value === 0 || value === page_max + 1 || value >= start && value < start + page_avaliable) {
                    $('ul.pagination li').eq(value).show();
                } else {
                    $('ul.pagination li').eq(value).hide();
                }
            })
        }

        function prevpage() {
            if (now > 1) {
                pre_now = now;
                now--;
                showpage(now);
                showpageindex();
                checkpage()
                changeActive();
            }
        }

        function nextpage() {
            if (now < page_max) {
                pre_now = now;
                now++;
                showpage(now);
                showpageindex();
                checkpage();
                changeActive();
            }
        }

        function checkpage() {
            if (now === 1 && now !== page_max) {
                $('#preva').addClass('disabled');
                $('#nexta').removeClass('disabled');
            } else if (now === page_max && now !== 1) {
                $('#nexta').addClass('disabled');
                $('#preva').removeClass('disabled');
            } else if (now === page_max && now === 1) {
                $('#nexta').addClass('disabled');
                $('#preva').addClass('disabled');
            } else {
                $('#preva').removeClass('disabled');
                $('#nexta').removeClass('disabled');
            }
        }

        function searchUser() {

        }

        function edit(user) {

        }

        function del(user) {
            swal({
                title: `确定删除${user.eid}吗?`,
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            }).then(function (result) {
                if (result) {
                    $.post('/personal_info/delete_user', {email: user.eid}, function (result) {
                        if (result === 'ok') {
                            swal("删除成功!", {
                                icon: "success",
                            });
                            $('#user_table tr').each(function (value) {
                                if ($(`#user_table tr:eq(${value}) td:eq(1)`).text() === user.eid) {
                                    $('#user_table tr').eq(value).remove();
                                }
                            });
                            showpage(now);
                        } else {
                            swal("出现了神奇的错误!");
                        }
                    });
                }
            });
        }
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 用户管理
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='/back_end') 首页
                li
                    a(href='/back_end/users') 用户管理
    .panel.panel-default
        .panel-body
            form.form-horizontal
                .search-bar
                    .col-md-11.row
                        .col-md-12
                            .form-group
                                .col-md-12
                                    input.form-control(type='text')
                            // <label class="control-label">用户名</label>
                            // <input type="text" class="form-control"  ng-model="vm.list.name">
                    .text-right.col-sm-2.col-xs-12.col-md-1
                        button.btn.btn-primary(onclick='searchUser()') 搜索
    .panel.panel-default
        .panel-heading
            | 用户列表
            button.btn.btn-sm.btn-info.pull-right.margin-left-10(type='button', ui-sref='field.managerDetail')
                i.fa.fa-plus
                |  新增
        div#Pagination.
        .panel-body
            .table-responsive.border
                table#user_table.table.table-striped.text-center
                    thead
                        tr
                            th.text-center
                            th.text-center ID/用户名
                            th.text-center 密码
                            th.text-center 公司名称
                            th.text-center 公司地址
                            th.text-center 公司所属行业
                            th.text-center 操作
                    tbody
                        each user, i in user_list
                            if user.eid !== 'admin'
                                tr
                                    td
                                        label.
                                        input(name="amount", type="checkbox")
                                    td #{user.eid}
                                    td #{user.password}
                                    td #{user.cname}
                                    td #{user.cadd}
                                    td #{user.cpro}
                                    td
                                        button.btn.btn-xs.btn-info(type="button" data-toggle="modal" data-target="#myModal")
                                            i.fa.fa-edit
                                            |   编辑
                                        button.btn.btn-xs.btn-danger(onclick="del(#{JSON.stringify(user)})")
                                            i.fa.fa-remove
                                            |   删除
                .pag
                    ul.pagination
                        li#preva
                            a(href='javascript:prevpage()') «
                        //li#nexta
                        //    a(href='javascript:nextpage()') »
            //p.text-center.text-warning 6
            //pagination(total='{{vm.total}}')