extends backend_layout
block content
    link(rel="stylesheet" href="/stylesheets/pagination.css")
    script(src='/javascript/jquery.pagination.js')
    script(type='text/javascript').
        function searchUser() {

        }

        function edit(user) {

        }

        function del(user) {
            if(confirm('确认删除用户'+user.eid)){
                $.post('/personal_info/delete_user', {email:user.eid}, function (result) {
                    if (result === 'ok') {
                        alert('删除成功!');

                    } else {
                        alert('出现了神奇的错误!');
                    }
                });
            }
        }
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 用户管理
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='/back_end') 首页
                li
                    a(href='/back_end/users') 用户管理
    .panel.panel-default
        .panel-body
            form.form-horizontal
                .search-bar
                    .col-md-11.row
                        .col-md-12
                            .form-group
                                .col-md-12
                                    input.form-control(type='text')
                            // <label class="control-label">用户名</label>
                            // <input type="text" class="form-control"  ng-model="vm.list.name">
                    .text-right.col-sm-2.col-xs-12.col-md-1
                        button.btn.btn-primary(onclick='searchUser()') 搜索
    .panel.panel-default
        .panel-heading
            | 用户列表
            button.btn.btn-sm.btn-info.pull-right.margin-left-10(type='button', ui-sref='field.managerDetail')
                i.fa.fa-plus
                |  新增
        .panel-body
            .table-responsive.border
                table#user_table.table.table-striped.text-center
                    thead
                        tr
                            th.text-center ID/用户名
                            th.text-center 密码
                            th.text-center 公司名称
                            th.text-center 公司地址
                            th.text-center 公司所属行业
                            th.text-center 操作
                    tbody
                        each user, i in user_list
                            if user.eid !== 'admin'
                                tr
                                    td
                                        label.
                                        input(name="amount", type="checkbox")
                                    td #{user.eid}
                                    td #{user.password}
                                    td #{user.cname}
                                    td #{user.cadd}
                                    td #{user.cpro}
                                    td
                                        button.btn.btn-xs.btn-info(onclick="edit(#{JSON.stringify(user)})")
                                            i.fa.fa-edit
                                            |   编辑
                                        button.btn.btn-xs.btn-danger(onclick="del(#{JSON.stringify(user)})")
                                            i.fa.fa-remove
                                            |   删除

            //p.text-center.text-warning 6
            //pagination(total='{{vm.total}}')