extends backend_layout
block content
    script(src="/javascript/sweetalert.min.js")
    style(type='text/css').
        .datepicker-days {
            display: block !important;
        }
    script(src='/javascript/select2.min.js')
    script(src='/javascript/bootstrap-datepicker.min.js')
    script(src='/javascript/bootstrap-datepicker.zh-CN.min.js')
    script(type='text/javascript').
        const lxlist = ['研发', '教育', '市场营销', '产品经理', '客户经理', '业务发展(BD)', '售前服务', '通信', '售后服务', '设计'];
        const xzlist = ['志愿', '全职', '兼职', '合同'];
        let length;
        let now;
        let page_max;
        let page_number;
        let pre_now;
        let page_avaliable;

        $(function () {
            $('.publishTime').datepicker({
                language: 'zh-CN',
                format: 'yyyy/mm/dd',
                autoclose: true,
                todayHighlight: true
            });
            $('.expiryTime').datepicker({
                language: 'zh-CN',
                format: 'yyyy/mm/dd',
                autoclose: true,
                todayHighlight: true
            });

            $('#xzSelect').select2();
            $('#lxSelect').select2();

            length = $('#job_table tr').length - 1;
            now = 1;
            page_number = 5;
            pre_now = -1;
            page_max = Math.ceil(length / page_number);
            page_avaliable = 5;
            updatePageIndex();
            showpage(now);
            showpageindex();
            checkpage();
            changeActive();
        });

        function deletePageIndex() {
            $('.pagination li:gt(0)').remove();
        }

        function updatePageIndex() {
            for (let i = 0; i < page_max; i++) {
                $('ul.pagination').append(`<li> <a href="javascript:gopage(${i + 1})">${i + 1}</a> </li>`);
            }
            $('ul.pagination').append(`<li id="nexta"><a href="javascript:nextpage()">»</a></li>`);
        }

        function gopage(i) {
            pre_now = now;
            now = i;
            showpage(now);
            showpageindex();
            checkpage();
            changeActive();
        }

        function changeActive() {
            $('ul.pagination li').eq(pre_now).removeClass('active');
            $('ul.pagination li').eq(now).addClass('active');
        }

        function showpage(page) {
            $('#job_table tr').each(function (value) {
                if (value === 0 || (value > ((page - 1) * page_number) && value <= page * page_number)) {
                    $('#job_table tr').eq(value).show();
                } else {
                    $('#job_table tr').eq(value).hide();
                }
            });
        }

        function showpageindex() {
            let start;
            if (page_max > page_avaliable) {
                start = now - parseInt(page_avaliable / 2) > 0 ? now - parseInt(page_avaliable / 2) : 1;
                if (start + page_avaliable > page_max) {
                    start = page_max + 1 - page_avaliable;
                }
            } else {
                start = 1;
            }
            $('ul.pagination li').each(function (value) {
                if (value === 0 || value === page_max + 1 || value >= start && value < start + page_avaliable) {
                    $('ul.pagination li').eq(value).show();
                } else {
                    $('ul.pagination li').eq(value).hide();
                }
            })
        }

        function prevpage() {
            if (now > 1) {
                pre_now = now;
                now--;
                showpage(now);
                showpageindex();
                checkpage()
                changeActive();
            }
        }

        function nextpage() {
            if (now < page_max) {
                pre_now = now;
                now++;
                showpage(now);
                showpageindex();
                checkpage();
                changeActive();
            }
        }

        function checkpage() {
            if (now === 1 && now !== page_max) {
                $('#preva').addClass('disabled');
                $('#nexta').removeClass('disabled');
            } else if (now === page_max && now !== 1) {
                $('#nexta').addClass('disabled');
                $('#preva').removeClass('disabled');
            } else if (now === page_max && now === 1) {
                $('#nexta').addClass('disabled');
                $('#preva').addClass('disabled');
            } else {
                $('#preva').removeClass('disabled');
                $('#nexta').removeClass('disabled');
            }
        }

        //删除现有的用户列表
        function clearJobList() {
            $('#job_table tr:gt(0)').remove();
        }
        //根据参数添加用户列表
        function showJobList(list) {
            list = JSON.parse(list);
            for (let i = 0; i < list.length; i++) {
                let date = list[i].deadline.substr(0, 10);
                date = new Date(date);
                date.setDate(date.getDate() + 1);
                date = `${date.getFullYear()}-${(date.getMonth() + 1) > 9 ? date.getMonth() + 1 : '0' + (date.getMonth() + 1)}-${date.getDate() + 1 > 9 ? date.getDate() : '0' + date.getDate()}`;
                $('#job_table').append(`<tr><td class="text-center"><label><input type="checkbox" name="amount" onclick="checkSelectAll()"></label></td><td class="text-center">${list[i].jid}</td><td class="text-center">${list[i].company}</td><td class="text-center">${list[i].title}</td><td class="text-center">${list[i].position}</td><td class="text-center">${list[i].nature}</td><td class="text-center">${date}</td><td class="text-center">${list[i].tags ? list[i].tags : ''}</td><td class="text-center"><button onclick='edit(${JSON.stringify(list[i])})' class="btn btn-xs btn-info"><i class="fa fa-edit"></i>  编辑</button><button onclick='del(${JSON.stringify(list[i])})' class="btn btn-xs btn-danger"><i class="fa fa-remove"></i>  删除</button></td></tr>`);
            }
        }

        let isCheckAll = false;
        let selectedBox;
        let deleteList = [];
        let nameList = [];
        function swapCheck() {
            if (isCheckAll) {
                $("input[type='checkbox']").each(function () {
                    this.checked = false;
                });
                isCheckAll = false;
                selectedBox = 0;
            } else {
                $("input[type='checkbox']").each(function () {
                    this.checked = true;
                });
                isCheckAll = true;
                selectedBox = length;
            }
            checkDisable();
        }

        function jumppage() {
            let page = $('#pagenumber').val();
            if (page && page >= 1 && page <= page_max) {
                gopage(page);
                $('#pageerror').removeClass('has-error');
            } else {
                $('#pageerror').addClass('has-error');
            }
        }

        function checkSelectAll() {
            selectedBox = 0;
            $('#job_table :input[name=amount]:gt(0)').each(function (cnt) {
                if (this.checked) {
                    selectedBox++;
                }
            });
            if (selectedBox === length) {
                $('.selectAll').click();
            } else {
                $('.selectAll').prop('checked', false);
                isCheckAll = false;
            }
            checkDisable();
        }

        function checkDisable() {
            if (selectedBox > 0) {
                $('.deletebutton').prop('disabled', false);
            } else {
                $('.deletebutton').prop('disabled', true);
            }
        }


        function del(job) {
            swal({
                title: `确定删除工作"${job.title}"吗?`,
                //text: str,
                icon: 'warning',
                buttons: true,
                dangerMode: true
            }).then(function (result) {
                if (result) {
                    $.post('/back_end/deleteJob', {job: JSON.stringify(job)}, function (result) {
                        if (result === 'ok') {
                            swal("删除成功!", {
                                icon: "success"
                            });
                            $('#job_table tr:gt(0)').each(function (value) {
                                console.log($(this).children().eq(1).text(), job.jid);
                                if ($(this).children().eq(1).text() == job.jid) {
                                    console.log('delete' + job.jid);
                                    $(this).remove();
                                }
                            });
                            length--;
                            page_max = Math.ceil(length / page_number);
                            showpage(now);
                            deletePageIndex();
                            updatePageIndex();
                            showpageindex();
                            checkpage();
                            changeActive();
                        } else {
                            swal("出现了神奇的错误!");
                        }
                    });
                }
            });
        }

        function delSelected() {
            deleteList = [];
            nameList = [];
            $('#job_table tr:gt(0)').each(function (cnt) {
                if ($(this).children().eq(0).children().children().prop('checked')) {
                    deleteList.push($(this).children().eq(1).text());
                    nameList.push($(this).children().eq(3).text());
                }
            });
            let str = nameList.join(',\n ');
            swal({
                title: `确定删除这些工作吗?`,
                text: str,
                icon: 'warning',
                buttons: true,
                dangerMode: true
            }).then(function (result) {
                if (result) {
                    $.post('/back_end/deleteSeletedJob', {dlist: JSON.stringify(deleteList)}, function (result) {
                        if (result === 'ok') {
                            swal("删除成功!", {
                                icon: "success"
                            });
                            $('#job_table tr:gt(0)').each(function (value) {
                                if (deleteList.includes($(this).children().eq(1).text())) {
                                    $(this).remove();
                                }
                            });
                            length -= deleteList.length;
                            page_max = Math.ceil(length / page_number);
                            showpage(now);
                            deletePageIndex();
                            updatePageIndex();
                            changeActive();
                        } else {
                            swal("出现了神奇的错误!");
                        }
                    });
                }
            });
        }

        function edit(jid) {

        }

        function searchJob() {
            let company = $('.company').val();
            let title = $('.title').val();
            let leixin = $('#lxSelect').val();
            let deadline = $('.expiryTime').val();
            let xingzhi = $('#xzSelect').val();

            let sqlstr = '';
            if (company) {
                sqlstr += `company like '%${company}%'`;
            }
            if (title) {
                if (sqlstr.length > 0) {
                    sqlstr += ` and title like '%${title}%'`;
                } else {
                    sqlstr += `title like '%${title}%'`;
                }
            }
            if (leixin) {
                if (sqlstr.length > 0) {
                    sqlstr += ` and position = '${lxlist[leixin]}'`;
                } else {
                    sqlstr += `position = '${lxlist[leixin]}'`;
                }
            }
            if (deadline) {
                deadline = deadline.split('/').join('-');
                if (sqlstr.length > 0) {
                    sqlstr += ` and deadline <= '${deadline}'`;
                } else {
                    sqlstr += `deadline <= '${deadline}'`;
                }
            }
            if (xingzhi) {
                if (sqlstr.length > 0) {
                    sqlstr += ` and nature = '${xzlist[xingzhi]}'`;
                } else {
                    sqlstr += `nature = '${xzlist[xingzhi]}'`;
                }
            }
            if (sqlstr.length > 0) {
                sqlstr = 'select * from jobs where (' + sqlstr + ')';
            } else {
                sqlstr = 'select * from jobs';
            }
            $.post('/back_end/searchJob', {sqlstr}, function (result) {
                if (result) {
                    clearJobList();
                    showJobList(result);
                    length = JSON.parse(result).length;
                    page_max=Math.ceil(length/page_number);
                    showpage(now);
                    deletePageIndex();
                    updatePageIndex();
                    showpageindex();
                    checkpage();
                    changeActive();
                } else {
                    swal('出现了神奇的错误!');
                }
            })
        }

        function clearSearch(){
            $('.company').val('');
            $('.title').val('');
            $('#lxSelect option[value=""]').prop('selected',true);
            $('#select2-lxSelect-container').text('全部');
            $('#xzSelect option[value=""]').prop('selected',true);
            $('#select2-xzSelect-container').text('全部');
            $('.publishTime').val('');
            $('.expiryTime').val('');
        }


        // 这是那个bootstrap-datepicker的出问题的注释
        // 就是可以看到我在上面的css里面加了一个东西，datepicker-days的display被我强制设定为了
        // block,你可以把这个样式给删掉(只用把!important删掉)，然后再到页面上看看效果，
        // 具体就是：
        // 点击那两个日期框的时候，会出现一个小的横条
        // 但是没有东西，同时直接看网页的代码变化，会发现下面的多出来了一个div
        // 这个就是那个日期选择的东西，但是没有出来
        // 点开div发现里面有很多个小的div，问题就出在那个datepicker-days的div
        // 它的style属性是空的，正确的应该是block,（这个是看那个Vali Admin(我们的网站模版)发现的）
        // 所以我就在css里面添加了这么一项，但是这个方法也有问题，我加了!important,那么它的内联样式的优先级是没有这个高的
        // 所以会导致选择日期或者年的时候，会在下方多一个选择界面出来。然后就是你的任务啦，找到如何解决这个问题，尽可能地不要用我的这种添加css方法，可能会出一些奇怪的错误
        //
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 工作管理
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='/back_end') 首页
                li
                    a(href='/back_end/jobs') 工作管理
    .panel.panel-default()
        form.form-horizontal
            .panel-body
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.col-md-4.control-label 在招公司
                            .col-md-8
                                input.company.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 职位名称
                            .col-md-8
                                input.title.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 工作类型
                            .col-md-8
                                select#lxSelect.form-control()
                                    optgroup(label='选择工作类型')
                                        option(value='') 全部
                                        option(value='0') 研发
                                        option(value='1') 教育
                                        option(value='2') 市场营销
                                        option(value='3') 产品经理
                                        option(value='4') 客户经理
                                        option(value='5') 业务发展(BD)
                                        option(value='6') 售前服务
                                        option(value='7') 通信
                                        option(value='8') 售后服务
                                        option(value='9') 设计
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 发布时间
                            .col-md-8
                                input.publishTime.form-control(type='text' placeholder='选择发布时间' readonly)
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 截止时间
                            .col-md-8
                                input.expiryTime.form-control(type='text' placeholder='选择截止时间' readonly)
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4.word-spacing-25 工作性质
                            .col-md-8
                                select#xzSelect.form-control
                                    optgroup(label='选择工作性质')
                                        option(value='') 全部
                                        option(value='0') 志愿
                                        option(value='1') 全职
                                        option(value='2') 兼职
                                        option(value='3') 合同
                        .pull-right
                            button.btn(type='button' onclick='clearSearch()') 清除
                            button.btn.btn-primary(type='button' onclick='searchJob()' style="margin-left:10px") 搜索

    .panel.panel-default
        .panel-heading
            strong() 职位列表
            button.deletebutton.btn.btn-sm.btn-danger.pull-right(onclick="delSelected()", disabled)
                i.fa.fa-remove
                | 删除
        .panel-body.table-responsive
            table#job_table.table.table-striped.add-table-border
                thead
                    tr
                        th.text-center
                            input.selectAll(name="amount", type="checkbox", onclick="swapCheck()")
                        th.text-center 招聘序号
                        th.text-center 在招公司
                        th.text-center 职位名称
                        th.text-center 工作类型
                        th.text-center 工作性质
                        th.text-center 截止时间
                        th.text-center 工作标签
                        th.text-center 操作
                tbody
                    for item in job_list
                        tr
                            td.text-center
                                label
                                    input(name="amount", type="checkbox", onclick='checkSelectAll()')
                            td.text-center #{item.jid}
                            td.text-center #{item.company}
                            td.text-center #{item.title}
                            td.text-center #{item.position}
                            td.text-center #{item.nature}
                            td.text-center #{item.deadline}
                            td.text-center #{item.tags}
                            td.text-center
                                button.btn.btn-xs.btn-info(onclick="edit(#{JSON.stringify(item)})")
                                    i.fa.fa-edit
                                    |  编辑
                                button.btn.btn-xs.btn-danger(onclick="del(#{JSON.stringify(item)})")
                                    i.fa.fa-remove
                                    |  删除
            .pag.row
                .col-md-10
                    ul.pagination
                        li#preva
                            a(href='javascript:prevpage()') «
                .text-right.col-md-2(style='margin-top:23px')
                    #pageerror.col-md-6
                        input#pagenumber.form-control(type='text')
                    .col-md-6
                        button.btn.btn-primary(onclick='jumppage()') 跳转
