extends layout

block content
    link(rel='stylesheet', href='/stylesheets/forgetpw.css')
    script(type='text/javascript').
        const count = 60;
        let InterValObj;
        let curCount;
        let curCode;
        let curEmail;
        let hasCode;

        function set_rest_time() {
            let btn = $('.confirmbutton').html('重新验证');
            if (curCount === 0) {
                window.clearInterval(InterValObj);
                btn.prop('disabled', false);
                curEmail = undefined;
            } else {
                btn.html(`请在${curCount}s后再次获取`);
                curCount--;
            }
        }

        function send_confirm() {
            let email = $('#forgetEmail1').val();
            if (chk_email(email)) {
                let btn = $('#send_button');
                btn.prop('disabled', true);
                curCount = count;
                btn.html(`请在${curCount}s后再次获取`);
                curCount--;
                InterValObj = window.setInterval(set_rest_time, 1000);
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '/signup/send_email',
                    data: $('#forget_form').serialize(),
                    success: function (result) {
                        hasCode = true;
                        curCode = result.code;
                        curEmail = email;
                    },
                    error: function (error) {
                        alert('异常');
                    }
                });
            } else {
                $('#forgetEmail1').focus();
                alert('请输入正确的邮箱!');
            }
        }

        function chk_email(email) {
            let reg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return reg.test(email);
        }

        function chk_password(pw) {
            if (pw === '' || pw.length < 8 || pw.length > 20) {
                return false;
            }
            let reg1 = /^[0-9A-Za-z]+$/;
            if (!reg1.test(pw)) {
                return false;
            }
            let reg2 = /[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/;
            return reg2.test(pw);
        }

        function change_pw() {
            let form=$('#forget_form').get()[0];
            let email=form.email.value;
            let pw=form.pw.value;
            let confirmpw=form.confirmpw.value;
            let code=+form.code.value;
            if(!chk_email(email)){
                alert('邮箱错误!');
                $(form.email).focus();
                return;
            }
            if(!pw){
                alert('密码不能为空!');
                $(form.pw).focus();
                return;
            }
            if(!chk_password(pw)){
                alert('密码格式错误!');
                $(form.pw).focus();
                return;
            }
            if(pw!==confirmpw){
                alert('两次密码不一样!请检查!');
                return;
            }
            if(!hasCode){
                alert('请先获取验证码!');
                return;
            }else{
                if(!curEmail){
                    alert('验证码已经过期，请重新获取!');
                    return;
                }
                if(email!==curEmail){
                    alert('邮箱已经不是验证过的邮箱了，请重新验证!');
                    return;
                }
                if(code!==curCode){
                    alert('验证码错误!');
                    return;
                }
                $.post('/forget_password/check',$(form).serialize(),function (result) {
                    if(result==='邮箱没有注册'){
                        alert('邮箱没有注册过!');
                    }else if(result==='ok'){
                        alert('密码修改成功!');
                        sessionStorage.login=undefined;
                        sessionStorage.useremail=undefined;
                        window.location.href='/signin'
                    }else{
                        alert('发生了神奇的错误!');
                    }
                });
            }
        }


    .forget_form
        form#forget_form(action='#', method='post')
            .form-group
                h1.denglu 找回密码
            .form-group
                label(for='forgetEmail1') 邮箱
                br
                input#forgetEmail1.form-control(type='email', placeholder='Email', name='email')
                button#send_button.btn.btn-default.confirmbutton(type='button', onclick='send_confirm()') 验证
            .form-group
                label(for='forgetPassword1') 新密码
                input#forgetPassword1.form-control(type='password', placeholder='Password', name='pw')
            .form-group
                label(for='forgetConfirmPassword1') 确认密码
                input#forgetConfirmPassword1.form-control(type='password', placeholder='Password', name='confirmpw')
            .form-group
                label(for='forgetconfirm') 验证码
                input#forgetconfirm.form-control(type='text', name='code')
            .form-group
                .col-sm-offset-2.col-sm-10.bottomb
                    button.btn.btn-primary.btn-lg(type='button', onclick='change_pw()') 更改密码
                    a.btn.btn-default.btn-lg(href='/signin', role='button') 返回
    .right
        .right-head
            h3 欢迎加入码妞俱乐部招聘平台
            p 该平台是专门为该项公益活动的参与者架构的一个招聘平台。
