extends layout

block content
    script(type='text/javascript').
        let curPage;
        let pageSize=10;
        let direct;
        let length;
        let pages;
        let begin;
        let end;
        $(function () {
            length=$('table tr').length-1;
            pages=Math.ceil(length/pageSize);
            curPage=1;
            direct=0;
            showPage();

            $('li.fir_page').click(function () {
                curPage=1;
                direct=0;
                showPage();
            });

            $('li.pre_page').addClass('disabled')

            $('li.pre_page').click(function () {
                if(curPage>1) {
                    direct = -1;
                    showPage();
                }
            });

            $('li.nex_page').click(function () {
                if(curPage<pages) {
                    direct = 1;
                    showPage();
                }
            });

            $('li.las_page').click(function () {
                curPage=pages;
                direct=0;
                showPage();
            })
        })


        function showPage() {
            switch (direct){
                case 0:{
                    begin=(curPage-1)*pageSize+1;
                    end=begin+pageSize-1;
                    $('table tr').each(function (index) {
                        if(index>=begin&&index<=end||index===0){
                            $(this).show();
                        }else{
                            $(this).hide();
                        }
                    });
                    if(curPage===1){
                        $('li.pre_page').addClass('disabled');
                        //$('li.pre_page').unbind();
                    }else{
                        $('li.pre_page').removeClass('disabled');
                        //$('li.pre_page').click(function () {
                        //    direct = -1;
                        //   showPage();
                        //});
                    }
                    if(curPage===pages){
                        $('li.nex_page').addClass('disabled');
                        //$('li.nex_page').unbind();
                    }else{
                        $('li.nex_page').removeClass('disabled');
                        //$('li.nex_page').click(function () {
                        //    direct = 1;
                        //    showPage();
                        //});
                    }
                    break;
                }
                case 1:{
                    curPage++;
                    direct=0;
                    showPage();
                    break;
                }
                case -1:{
                    curPage--;
                    direct=0;
                    showPage();
                    break;
                }
            }
        }

        function filter_position(position) {
            $.post('/filter_job_position',{position},function (result) {
                if(result!=='error'){
                    result=JSON.parse(result);
                    $('table tr:gt(0)').remove();
                    for(let item of result) {
                        $('table').append(`<tr onclick="window.document.location='/job_info?id=${item.jid}'">
                        <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.title}</td>
                        <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.workplace}</td>
                        <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.nature}</td>
                        <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.company}</td>`);
                    };
                    showPage();
                }else{
                    alert('发生了神奇的错误!');
                }
            });
        }

        function filter_nature(nature) {
            $.post('/filter_job_nature', {nature}, function (result) {
                if (result !== 'error') {
                    result = JSON.parse(result);
                    $('table tr:gt(0)').remove();
                    for (let item of result) {
                        $('table').append(`<tr onclick="window.document.location='/job_info?id=${item.jid}'">
                                    <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.title}</td>
                                    <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.workplace}</td>
                                    <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.nature}</td>
                                    <td class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">${item.company}</td>`);
                    };
                    showPage();
                } else {
                    alert('发生了神奇的错误!');
                }
            });
        }
    // 工作职位栏
    .container.bod
        dl
            dt.title 工作职位
            dd
                a.text-success.col-md-2(name='all', href='/') 所有职业
                a.text-success.col-md-2(name='Development', onclick="filter_position('研发')") 研发
                a.text-success.col-md-2(name='Education', onclick="filter_position('教育')") 教育
                a.text-success.col-md-2(name='Marketing', onclick="filter_position('市场营销')") 市场营销
                a.text-success.col-md-2(name='ProductManagement', onclick="filter_position('产品经理')") 产品经理
                a.text-success.col-md-2(name='AccountManagement', onclick="filter_position('客户经理')") 客户经理
                a.text-success.col-md-2(name='BusinessDevelopment', onclick="filter_position('业务发展')") 业务发展（BD）
                a.text-success.col-md-2(name='Client', onclick="filter_position('售前服务')") 售前服务
                a.text-success.col-md-2(name='Communication', onclick="filter_position('通信')") 通信
                a.text-success.col-md-2(name='CustomerService', onclick="filter_position('售后服务')") 售后服务
                a.text-success.col-md-2(name='Design', onclick="filter_position('设计')") 设计
    // 工作性质栏
    .container.bod
        dl
            dt.title 工作性质
            dd
                a.text-success.col-md-2(name='Volunteer', onclick="filter_nature('志愿')") 志愿
                a.text-success.col-md-2(name='Permanent', onclick="filter_nature('全职')") 全职
                a.text-success.col-md-2(name='Freelance', onclick="filter_nature('兼职')") 兼职
                a.text-success.col-md-2(name='Contract', onclick="filter_nature('合同')") 合同
    // 招聘信息
    .container
        table.table.table-hover
            // 表头
            tr(style='background-color:#dddddd;')
                th.col-md-3.title 工作职位
                th.col-md-3.title 工作城市
                th.col-md-3.title 工作性质
                th.col-md-3.title 公司名称
            //内容
            for job in job_list
                if job.dataValues.publish == 1
                    tr(onclick="window.document.location='/job_info?id="+job.dataValues.jid+'\'')
                        td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.title}
                        td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.workplace}
                        td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.nature}
                        td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.company}

    nav(aria-label='...')
        ul.pager
            li.fir_page
                a(style='color:grey;') 首页
            li.pre_page
                a(style='color:grey') 上一页
            li.nex_page
                a(style='color:grey') 下一页
            li.las_page
                a(style='color:grey') 尾页
    // 版权
