extends layout

block content
    link(rel='stylesheet',href='/stylesheets/signup.css')
    script(src='/JavaScript/signin.js')
    script(type='text/javascript').
        const count = 60;
        let InterValObj;
        let curCount;
        let curCode;
        let curEmail;

        let hasCode=false;

        function check_info() {
            if(hasCode) {
                let form = document.signup_form;
                let password=form.password.value;
                let confirmpw=form.confirmpw.value;
                let email=form.email.value;
                let code=+form.confirmcode.value;
                if(code!==curCode){
                    alert('验证码错误!');
                    return;
                }
                if(!password){
                    alert('密码不能为空!');
                    return;
                }
                if (!chk_password(password)) {
                    alert('密码不符合格式!');
                    return;
                }
                if(password!==confirmpw){
                    alert('两次密码不一致!');
                    return;
                }
                if(!curEmail){
                    alert('验证码已失效，请重新发送!');
                    hasCode=false;
                    return;
                }
                if(curEmail!==email){
                    alert('邮箱已经不是验证过的邮箱了，请重新验证!');
                    return;
                }
                //form.submit();
                $.post('/signup/check',$(form).serialize(),function (result) {
                    if(result==='邮箱已经被注册!'){
                        alert('邮箱已经被注册了!');
                    }else{
                        sessionStorage.login=true;
                        sessionStorage.useremail=result;
                        window.location.href='/';
                    }
                },'text');
            }else{
                alert('请先获取验证码!');
            }
        }

        function send_confirm() {
            let email = $('#signupEmail1').val();
            if (chk_email(email)) {
                let btn = $('.confirmbutton');
                btn.prop('disabled', true);
                curCount = count;
                btn.html(`请在${curCount}s后再次获取`);
                curCount--;
                InterValObj = window.setInterval(set_rest_time, 1000);
                $.ajax({
                    type:'post',
                    dataType:'json',
                    url:'/signup/send_email',
                    data:$('#signup_form').serialize(),
                    success:function (result) {
                        hasCode=true;
                        curCode=result.code;
                        curEmail=email;
                    },
                    error:function (error) {
                        alert('异常');
                    }
                });
            } else {
                $('#signupEmail1').focus();
                alert('请输入正确的邮箱!');
            }
        }

        function set_rest_time() {
            let btn = $('.confirmbutton').html('重新验证');
            if (curCount === 0) {
                window.clearInterval(InterValObj);
                btn.prop('disabled', false);
                curEmail=undefined;
            } else {
                btn.html(`请在${curCount}s后再次获取`);
                curCount--;
            }
        }
    .signup_form
        form#signup_form(action='/signup/check', method='post',name='signup_form')
            .form-group
                h1.denglu 注册
            .form-group
                label(for='signupEmail1') 邮箱
                br
                input#signupEmail1.form-control(type='email', placeholder='Email', name='email')
                button.btn.btn-default.confirmbutton(type='button', onclick='send_confirm()') 验证
            .form-group
                label(for='signupPassword1') 密码
                input#signupPassword1.form-control(type='password', placeholder='8～20位字母和数字，同时包含字母和数字',name='password')
            .form-group
                label(for='signupConfirmPassword1') 确认密码
                input#signupConfirmPassword1.form-control(type='password', placeholder='重复密码',name='confirmpw')
            .form-group
                label(for='confirm') 验证码
                input#confirm.form-control(type='text',name='confirmcode')
            .form-group
                .col-sm-offset-2.col-sm-10.bottomb
                    button.btn.btn-primary.btn-lg(type='button', onclick='check_info()') 注册
                    a.btn.btn-default.btn-lg(href='/signin', role='button') 已有账号？
    .right
        .right-head
            h3 欢迎加入码妞俱乐部招聘平台
            p 该平台是专门为该项公益活动的参与者架构的一个招聘平台。
